.container {
  width: 318px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 8px 10px;
  border: solid 0 rgba(22, 12, 10, 0.6);
  border-radius: 0 20px 0 20px;
  box-shadow: 10px 10px 10px 5px rgba(22, 12, 10, 0.6);
  margin: 1rem auto;
  color: var(--FONT-COLOR-TEXTS);
}

.pDescription,
.pStuffs {
  font-size: 0.6rem;
  text-align: justify;
}

span,
.pStuffs {
  color: var(--DETAILS-COLOR-A);
}

.spanStuffs {
  color: var(--FONT-COLOR-TEXTS);
}

.alphaHamburguer {
  opacity: 0.3;
}

hr {
  margin: 0.2rem 0 0.2rem 0;
}

.divPhoto {
  width: 300px;
  height: 140px;
}

.burgerPhoto {
  border-radius: 0 20px 0 20px;
  opacity: 0.85;
}

.labelHamburguer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.sectionRate {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 12px;
}

.labelPrice {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: right;
}

.spanPrice {
  margin-left: 1rem;
  font-size: 0.54rem;
}
