.searchBar {
  /* top: 31.45vh; */
  top: 29vh;
  position: relative;
  z-index: 10;
}

.searchInput {
  width: 318px;
  height: 1.2rem;
  padding: 0 10px 0 25px;
  border-radius: 0.2rem;
  background-color: var(--HEADER-FOOTER-BGCOLOR-B);
  box-shadow: 4px 4px 4px 1px rgba(22, 12, 10, 0.5);
  color: var(--FONT-COLOR-TEXTS);
  text-align: center;
}

p {
  font-size: 0.7rem;
  font-weight: bolder;
}

.magnifyGlass {
  top: 0.4rem;
  position: absolute;
  cursor: pointer;
  transform: translateX(20%);
}

@media screen and (min-width: 480px) {

  .searchInput {
    width: 478px;
  }

}