.container {
  width: 320px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 6px 4px;
}

.container p {
  color: antiquewhite;
}

.divPhoto {
    width: 300px;
    height: 140px;
}

.labelHamburguer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.sectionRate {
  display: flex;
  justify-content: space-evenly;
}
