/* .footerApp {
  bottom: 0;
  background-color: var(--HEADER-FOOTER-BGCOLOR-A);
  border-radius: 0.1rem 0.1rem 0 0;
  padding: 0.4rem 0.5rem;
  color: var(--FONT-COLOR-TEXTS);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
} */

footer > section {
  margin: 0 auto;
  max-width: 350px;
}

footer p {
  font-size: 0.52rem;
}

.contactsSocial,
.labelDeveloper,
.labelMap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 1rem;
}

.labelDeveloper {
  margin: 0;
}

/* .footer menu {
  
} */

/* hr hide when > XXXXX */
