footer > section {
  margin: 0 auto;
  max-width: 350px;
}

footer p {
  font-size: 0.52rem;
}

.contactsSocial,
.labelDeveloper,
.labelMap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 1rem;
}

.labelDeveloper {
  margin: 0;
}

@media screen and (min-width: 600px) {
  footer > section, .labelDeveloper {
    max-width: 598px;
  }

  .sectionSocial,
  .sectionMap {
    width: 290px;
  }

  .mediaContactsLocalization {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
  }

  .labelDeveloper{
    max-width: 340px;
    align-self: center;
  }

  /* .labelMap > p {
    flex-wrap: wrap;
    white-space: break-all;
    word-break: break-all;
    display: flex;

  } */
}

/* hr hide when > XXXXX */
