@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

/* :root {

} */

html {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

html,
body {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  background-color: rgba(7, 7, 7, 0.9);
}

header {
  position: sticky;
  display: flex;
  flex-flow: column nowrap;
  top: 0;
  z-index: 1;
  height: 32vh;
  background-color: rgb(190, 57, 24);
}

nav {
  height: 5vh;
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

footer {
  bottom: 0;
  height: 8vh;
  background-color: rgb(190, 57, 24);
}

h1 {
  color: rgb(119, 218, 21);
}

h3 {
  color: rgb(190, 57, 24);
}
