:root {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

h1 {
  color: rgb(119, 218, 21);
}

h3 {
  color: rgb(190, 57, 24);
}
